*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url("../public/imgs/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  height: 50px;
}

.nav a {
  color: inherit;
  margin: 0;
  list-style: none;
}

.mainContainer {
  width: 100%;
  height: 100vh;
}

.loginDiv {
  height: 100%;
  width: 100%;
}

.userIcon {
  font-size: 30px;
}

.favIcon {
  font-size: 30px;
}

.logoutIcon {
  font-size: 25px;
}

.avatar {
    vertical-align: middle;
    width: 38px;
    height: 38px;
    border-radius: 50%;
 }

.map-container {
  width: 100%;
  height: 50vh;
}

.favCarparksDiv {
  height: 230px;
}

.favCarparksDiv li a {
  color: inherit;
  list-style: none;
}

.favCarparksDiv hr {
  width: 80%;
  margin: 0;
}

.copyrightDiv {
  color: white;
  width: 100%;
}

.userProfileDiv {
  height: 60vh;
}